<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/adminHeader::html">
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:replace="include/adminNavigator::html"></div>
<script>
    $(function () {
        var data4Vue = {
            beans: [],
            bean: {
                // id: 0,
                // name: '',
                // headimgurl: '',
                // openid: '',
                // unionid: '',
                // session_key: '',
                // access_token: '',
                // phone:'',
                // steps_total: 0,
                // coin_total:0,
                // energy_total:0,
                // createdate: ''
            },
            pagination: {},
        };

        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () {
                this.list(1);
            },
            methods: {
                // 查询用户列表
                list: function (start) {
                    var url = "../steps/userinfo/userList"
                    axios.post(url, {page: start, size: 10}).then(function (response) {
                        // var jsonObject = response.data.data;
                        // var jsonString = JSON.stringify(jsonObject)
                        // document.getElementById("hero").innerHTML = "通过 axios 获取到的json数据：" + jsonString;
                        vue.pagination = response.data.data;
                        vue.beans = response.data.data.list;
                    })
                },
                jump: function(page){
                    jump(page,vue); //
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        })


    })


</script>

<div id="workingArea">
    <!--<ol class="breadcrumb">-->
    <!--<li><a href="admin_category_list"></a></li>-->
    <!--<li><a :href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>-->
    <!--<li class="active"></li>-->
    <!--</ol>-->

    <div id="hero">

    </div>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>名称</th>
                <th>头像</th>
                <th>手机号</th>
                <th>步数总量</th>
                <th>金币总量</th>
                <th>订单</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">

                <td>{{bean.id}}</td>

                <td>{{bean.name}}</td>

                <td>
                    <img v-if="null != bean.headimgurl" width="40px" :src="bean.headimgurl">
                </td>

                <td>{{bean.phone}}</td>

                <td>
                    <a :href="'admin_steps_record_list?id=' + bean.id +'&name='+bean.name">{{bean.steps_total}}</a>
                </td>

                <td>
                    <a :href="'admin_steps_coin_list?id=' + bean.id +'&name='+bean.name">{{bean.coin_total}}</a>
                </td>

                <td>
                    <a :href="'admin_order_list?uid=' + bean.id "><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </td>

                <td>{{bean.createdate}}</td>

            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="include/adminPage::html" ></div>

</div>

<div th:replace="include/adminFooter::html"></div>
</body>

</html>