<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/adminHeader::html">
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:replace="include/adminNavigator::html"></div>
<script>
    $(function () {
        var data4Vue = {
            beans: [],
            bean: {},
            pagination: {},
            username:'test'
        };

        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () {
                this.list(1);
            },
            methods: {
                // 查询用户步数记录
                list: function (start) {
                    var id = getUrlParms("id");
                    var name = getUrlParms("name");
                    var url = "../steps/userinfo/stepsCoinConvert"
                    axios.post(url, {page: start, size: 10,id:id}).then(function (response) {
                        // var jsonObject = response.data.data;
                        // var jsonString = JSON.stringify(jsonObject)
                        // document.getElementById("hero").innerHTML = "通过 axios 获取到的json数据：" + jsonString;
                        vue.pagination = response.data.data;
                        vue.beans = response.data.data.list;
                        vue.username = name;
                    })
                },
                jump: function(page){
                    jump(page,vue); //
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        })


    })


</script>

<div id="workingArea">
    <!--<ol class="breadcrumb">-->
    <!--<li><a href="admin_category_list"></a></li>-->
    <!--<li><a :href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>-->
    <!--<li class="active"></li>-->
    <!--</ol>-->

    <div id="hero">

    </div>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>用户</th>
                <th>步数</th>
                <th>运动日期</th>
                <th>转换步数</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>{{username}}</td>
                <td>{{bean.coin}}</td>
                <td>{{bean.rundate}}</td>
                <td>{{bean.convertsteps}}</td>
                <td>{{bean.createdate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="include/adminPage::html" ></div>

</div>

<div th:replace="include/adminFooter::html"></div>
</body>

</html>