<div class="pageDiv" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav>
        <ul class="pagination">
            <li :class="{ disabled: pagination.isFirstPage }">
                <a  href="#nowhere" @click="jump('firstPage')">«</a>
            </li>
            <li :class="{ disabled: !pagination.hasPreviousPage }">
                <a  href="#nowhere" @click="jump('prePage')">‹</a>
            </li>

            <li  v-for="i in pagination.navigatepageNums">
                <a href="#nowhere" @click="jumpByNumber(i)" >
                    {{i}}
                </a>
            </li>

            <li :class="{ disabled: !pagination.hasNextPage }">
                <a  href="#nowhere" @click="jump('nextPage')">›</a>
            </li>
            <li :class="{ disabled: pagination.isLastPage }">
                <a  href="#nowhere" @click="jump('lastPage')">»</a>
            </li>
        </ul>
    </nav>
</div>
